<?xml version="1.0"?>
<launch>
    <!-- vehicle pose -->
    <arg name="x" default="-6"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- vehicle model and world -->
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/baylands.world"/>
    <arg name="sdf" default="$(find mavros_test)/models/custom_iris/custom_iris.sdf"/>

    <!-- gazebo configs -->
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="gui" default="false"/>

    <!-- PX4 SITL and Gazebo and MAVROS -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
</launch>