<?xml version="1.0"?>
<launch>
    <rosparam file="$(find dai_live)/config/live.yaml" />

    <node name="pos_publisher" pkg="dai_live" type="pos_publisher.py" output="screen" />
    <node name="landing_pose_transformer_live" pkg="dai_live" type="landing_pose_transformer.py" output="screen" />

    <include file="$(find dai_core)/launch/core.launch" />
</launch>